---
import features from "../data/features.json"
import CardsSolutions from "../components/CardsSolutions.vue";
import HeroBannerAvaluo from "../components/HeroBannerAvaluo.vue";
import ContactForm from "../components/ContactForm.vue";
import Layout from "../layouts/layouts.astro";
---

<Layout pageTitle="Conexión API">
  <HeroBannerAvaluo
    titleBanner="Conexión API"
    subtitleBanner="Accesos a datos inmobiliarios en tiempo real"
    btnBanner1="Saber más"
    imgBanner="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fimg_hero_API.png?alt=media&token=9c5c6de7-8aad-4823-98ef-744c260cc742"
    imgBannerMobile="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fimg_hero_API_movil.png?alt=media&token=b482fe02-a76c-4c91-8a2d-aefc04c8bb70"
  />

<p class="title text-center my-5">Beneficios de nuestra API</p>
{
features.map((feature) => (
  feature.report === 'Api' ? <CardsSolutions step-img={feature.img} step-text={feature.text} step-ast={feature.ast} />  : ""  

))
}
<div class="row d-flex justify-content-center align-items-center p-5 p-md-2">
    <a class="col-12 btn btn-view btn-primary mx-2 mt-3 mt-md-0" href="#ContactForm"
    >¡Lo quiero!</a
  >
</div>
<ContactForm id="ContactForm" client:visible />

</Layout>
<style scoped lang="scss">
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #000000;
}
  .btn-download {
  background: #f9e6f1;
  color: #8b1458;
  padding: 13px 22px;
  font-family: "Source Sans Pro";
  border-radius: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  padding: 14px 24px;
}
.btn-view {
  background: #ca1d80;
  color: #ffffff;
  padding: 13px 22px;
  font-family: "Source Sans Pro";
  border-radius: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  padding: 14px 24px;
}
  @media (max-width: 992px) {
    .title {
      font-size: 32px;
    }
  }
</style>

