---
import Layout from "../layouts/layouts.astro";
import CardsAvaluo from "../components/CardsHeroAvaluo.vue";
import CarouselAvaluo from "../components/CarouselAvaluo.vue";
import CardsFeatures from "../components/CardsFeatures.vue";
import ContactForm from "../components/ContactForm.vue";
---

<Layout
  pageTitle="Inicio"
  pageDescription="Calculamos en tiempo real y en línea el valor de venta o renta de una propiedad"
>
  <!-- Titulo Pagina de Inicio -->
  <h1 class="title-page">
    Calculamos <span>en tiempo real y en línea el valor de venta</span> o renta de
    una propiedad*
  </h1>
  <p>
    * Debe encontrarse dentro de los rangos y tipos de inmuebles en las ciudades
    y municipios donde tenemos cobertura.
  </p>
  <!--  Hero Banner Avaluo -->
  <div class="row mt-5 hero-banner">
    <CardsAvaluo
      card-img="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fimg_hero_inicio_empresas.png?alt=media&token=7debb63b-1708-42e9-8596-750add0e01b7"
      card-title="Empresas"
      card-text="Ten herramientas para apoyar mejor tu proceso de ventas."
      card-btn="/empresas"
      card-btn-text="Ver más →"
    />
    <CardsAvaluo
      card-img="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fimg_hero_inicio_personas.png?alt=media&token=7e749742-8b7c-45fd-8698-8750ae18e163"
      card-title="Personas"
      card-text="¿Quieres vender, comprar o arrendar una propiedad y tienes dudas sobre su valor?"
      card-btn="/personas"
      card-btn-text="Haz tu avalúo →"
    />
    <CardsAvaluo
      card-img="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fimg_hero_inicio_avaluo.png?alt=media&token=e08e26d4-0aa8-465b-ad72-983f659d51cf"
      card-title="Avalúo Certificado"
      card-text="Solicita un informe técnico firmado por un perito inscrito en el RAA."
      card-btn="/avaluo-certificado"
      card-btn-text="Conoce más →"
    />
    <CardsAvaluo
      card-img="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fimg_hero_inicio_API.png?alt=media&token=653296ff-7a48-438c-8f9b-4ff8b37cb1d5"
      card-title="Conexión API"
      card-text="Conecta la API a tus desarrollos y obtén todas las funcionalidades."
      card-btn="/conexion-api"
      card-btn-text="Ingresar →"
    />
  </div>
  <!--   Carousel Mobile -->
  <div class="row mt-5 carousel-banner">
    <CarouselAvaluo />
  </div>
  <!--  Statistics -->
  <div>
    <h3 class="text-center mt-3">
      Cada vez más personas y empresas saben el precio justo de sus inmuebles
    </h3>
  </div>
  <div
    class="row d-flex flex-column flex-md-row justify-content-center align-items-center my-5"
  >
    <div class="row col-md-6 col-12">
      <p class="col-12 statistic text-center">+15.000</p>
      <p class="col-12 statistic-text text-center mt-4">
        Avalúos en línea por medio de nuestra plataforma
      </p>
    </div>
    <div class="row col-md-6 col-12 mt-md-0 mt-5">
      <p class="col-12 statistic text-center">+4.000</p>
      <p class="col-12 statistic-text text-center mt-4">
        Avalúos certificados con visita de perito
      </p>
    </div>
  </div>
  <!--  Features -->
  <h4 class="text-center">¿Por qué usar Avalúo en línea?</h4>
  <div
    class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-5 shadow-lg cards-features"
  >
    <CardsFeatures
      client:visible
      FeaturesImg="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Frapido.png?alt=media&token=79d8bcfb-3b57-43fa-a2da-772c6187f4f2"
      FeaturesTitle="Rápido y desde cualquier lugar"
      FeaturesText="Haz tu reporte* (informativo o completo) en línea desde cualquier dispositivo y recíbelo en menos de 5 minutos."
      FeaturesUrl=" Descargar ejemplo"
      FeaturesText2="* Este reporte no sirve para trámites legales ni bancarios"
    />
    <CardsFeatures
      client:visible
      FeaturesImg="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fprecio.png?alt=media&token=3c39aa37-1156-4dc9-ab52-0d55278e13c2"
      FeaturesTitle="Precio justo e informado"
      FeaturesText="Dentro del reporte encontrarás todos los datos** que usamos para darte tu rango de precio de venta como el precio de arriendo."
      FeaturesUrl=""
      FeaturesText2="** Aplica para el reporte completo o el avalúo certificado"
    />
    <CardsFeatures
      client:visible
      FeaturesImg="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fherramienta.png?alt=media&token=21f9fc2c-62d4-4b6d-8f2b-09faffb5478e"
      FeaturesTitle="Herramienta de apoyo"
      FeaturesText="Dentro de nuestra plataforma*** encontrarás diferentes herramientas que pueden apoyar tu proceso de venta y arriendo de inmuebles."
      FeaturesUrl=""
      FeaturesText2="*** Incluido dentro de cualquier plan pago para empresas"
    />
  </div>
  <!--   Request Report -->
  <div
    class="request-report d-flex flex-column justify-content-center align-items-center mt-5"
  >
    <p class="request-report_text text-center">
      ¿Necesitas un avalúo certificado. Fácil, rápido y firmado por un perito
      registrado? Podemos ayudarte
    </p>
    <a class="request-report_btn" href="#contactForm">Solicitar avalúo certificado</a>
  </div>
  <!-- Companies -->
  <h4 class="text-center">Empresas que usan nuestros servicios</h4>
  <div
    class="companies d-flex justify-content-center align-items-center text-center"
  >
    <img src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fengel.png?alt=media&token=2f23b67e-8b9e-47e6-8e07-215b08a78ff4" alt="" class="col-3 col-md-1 m-3" />
    <img src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fhabi.png?alt=media&token=ec2c87b2-c45d-4345-9b31-74842b106733" alt="" class="col-3 col-md-1 m-3" />
    <img src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Faliadas.png?alt=media&token=a760b6ba-ab30-4d41-b066-a03cbb1c6772" alt="" class="col-3 col-md-1 m-3" />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fbogota.png?alt=media&token=51bca358-3cc7-4180-b62c-a062fd009c56"
      alt=""
      class="col-1 m-3 d-none d-md-block"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Foikos.png?alt=media&token=56f9a635-a737-479a-ab88-69b88b1fcf24"
      alt=""
      class="col-1 m-3 d-none d-md-block"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fsanta_ana.png?alt=media&token=102c3090-1b6e-4e75-965d-e9ba876eb364"
      alt=""
      class="col-1 m-3 d-none d-md-block"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Fpads.png?alt=media&token=9b76765d-e656-4376-a73c-d56b2cc8046c"
      alt=""
      class="col-1 m-3 d-none d-md-block"
    />
  </div>
  <!-- Testimonials -->

  <h4 class="text-center">Ellos confiaron en nosotros</h4>
  <div
    class="testimonials row d-flex justify-content-center align-items-start text-center mt-5"
  >
    <div
      class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center mt-4 mt-md-0"
    >
      <img
        class="testimonials-img"
        src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Ffoto_testimonio_1.png?alt=media&token=e87c3c08-85e3-4f94-9c44-3732c5c10c32"
        alt=""
      />
      <p class="testimonials-text">
        “Con Avalúo en Línea confirme el valor correcto de venta de mi
        apartamento. Fácil e inmediato. Muy recomendado”
      </p>
      <p class="testimonials-name">– Rodrigo</p>
    </div>
    <div
      class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center mt-4 mt-md-0"
    >
      <img
        class="testimonials-img"
        src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Ffoto_testimonio_2.png?alt=media&token=a5e5b463-e920-4fdc-a36f-26ad1885e6a6"
        alt=""
      />
      <p class="testimonials-text">
        “Como agente inmobiliario profesional y en mercados de cambio como el
        actual, AEL me ha ayudado a asesorar a mis potenciales compradores con
        criterios basados en estadísticas del mercado actual y mucho enfoque
        para lograr mis objetivos y avanzar con mis propósitos en beneficio de
        mis clientes”
      </p>
      <p class="testimonials-name">– Mally</p>
    </div>
    <div
      class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center mt-4 mt-md-0"
    >
      <img
        class="testimonials-img"
        src="https://firebasestorage.googleapis.com/v0/b/quasar-chat-285ff.appspot.com/o/Avaluo%2Ffoto_testimonio_3.png?alt=media&token=e0632b68-4ecd-482d-b0c7-431aba9103b8"
        alt=""
      />
      <p class="testimonials-text">
        “Gracias a Avalúo en Línea ahorre tiempo y dinero al saber de forma
        inmediata y técnica el valor de mi propiedad, pude contrastar la
        información y tomar mejores desiciones.”
      </p>
      <p class="testimonials-name">– David</p>
    </div>
  </div>
  <!-- Contact Form -->
<ContactForm id="contactForm" client:visible />

 
</Layout>
<style scoped>
 .title-page {
    width: 80%;
    max-width: 864px;
    min-width: 311px;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #282a33;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 115px auto 13px;
  }
  span {
    color: #ca1d80;
  }
  p {
    width: 80%;
    max-width: 573px;
    min-width: 311px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #6b7082;
    margin: auto;
  }

  h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #6b7082;
    width: 100%;
    max-width: 520px;
    margin: 7px auto;
  }

  h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #000000;
    margin-top: 88px;
  }

  .carousel-banner {
    display: none;
  }

  .statistic {
    font-weight: 600;
    font-size: 104px;
    line-height: 72%;
    color: #2d59f5;
  }

  .statistic-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #282a33;
  }

  .cards-features {
    background: #ffffff;
    border: 2px solid #f6f7fa;
    border-radius: 24px;
    width: 100%;
    max-width: 1251px;
  }

  .request-report {
    background-image: url("../assets/imgs/banner_request_report.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .request-report_text {
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 72px auto 32px auto;
  }

  .request-report_btn {
    width: 100%;
    max-width: 228px;
    color: #282a33;
    padding: 14px 24px;
    border: 2px solid #282a33;
    border-radius: 32px;
    text-decoration: none;
    cursor: pointer;
    margin: 32px auto 200px auto;
    font-size: 14px;
    background-color: #ffffff;
    text-align: center;
    font-weight: 600;
  }

  .testimonials-img {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .testimonials-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #6b7082;
    margin-top: 24px;
  }

  .testimonials-name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #282a33;
    margin-top: 8px;
  }
 
  @media (max-width: 992px) {
    .title-page {
      font-size: 24px;
      margin: 40px auto 8px;
    }
    h3 {
      font-size: 22px;
    }
    .statistic {
      font-size: 64px;
    }

    .statistic-text {
      font-size: 16px;
    }
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 12px;
    }
    .hero-banner {
      display: none;
    }
    .carousel-banner {
      display: block;
    }
    .request-report_text {
      font-size: 20px;
    }
  }
</style>
