---
import "../assets/css/styles.css";
import FooterAvaluo from "../components/FooterAvaluo.vue";
import MenuAvaluo from "../components/MenuAvaluo.vue";
import { Props } from "astro";
const { pageTitle, pageDescription } = Astro.props as Props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={pageDescription}>
    <title>Avalúo En Línea | {pageTitle}</title>
  </head>
  <body>
    <MenuAvaluo titlePage={pageTitle} client:load />
    <main class="container">
      <slot />
    </main>
    <FooterAvaluo />
    <script src="bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
